-
    let cardsInfo = {
        veloIcon: {
            img: "img/velo-icon.png",
            alt: "velo-icon",
            topTitle: "Тур на велосипедах",
            price: 335,
            currency: "грн*",
            description: [
                "Подорожуючи  на велосипеді,ви",
                "поринете в атмосферу мальовничих гір", 
                "чарівнмх краєвидів та шалених пригод.",
            ],
            praporec: false,
        },
        circle: {
            img: "img/circle.png",
            alt: "circle",
            topTitle: "Екскурсія на острів",
            price: 500,
            currency: "грн*",
            description: [
                "Подорож на острів занурить Вас у незабутнні пригоди.",
                "Неймовірна краса  у будь-яку пору року.",
            ],
            praporec: true,
        },
        think: {
            img: "img/think.png",
            alt: "think-icon",
            topTitle: "Особливе замовлення",
            price: 250,
            currency: "грн*",
            description: [
                "Обираючи цю подорож, Ви самостійно",
                "робите її незабутнбою та не схожою на будь-які інші.",
            ],
            praporec: true,
        }
    }

mixin card (oneCard)
    figure.card
        figcaption.fig
            .best-offer
            img(src=oneCard.img, alt=oneCard.alt)
            p.topTitlel #{oneCard.topTitle}
            p
                b.price #{oneCard.price}
                b.currency #{oneCard.currency}
                p.styu #{oneCard.description}


-
    let secondcardsInfo = {
        romantick: { 
            image: "img/romantic-trip.png",
            imageSc: "img/orange-znack.jpg",
            altt: "znak",
            alt: "romantick",
            topTitleSec: "Романтична подорож на 2",
            zamow: "замовити",
            description: [
                "Подорож у найромантичніші",
                "куточки світу, занурить вас",
                "у дивовижні пейзажі природи.",
            ],
            price: 2599,
            currency: "грн.",
        },
        bikeTrip: { 
            image: "img/bike-trip.png",
            imageSc: "img/orange-znack.jpg",
            altt: "znak",
            alt: "bikeTrip",
            topTitleSec: "Велотур",
            zamow: "замовити",
            description: [
                "Бажаєте прокататись з вітерцем",
                "та ще й з критим краєвидом довкола?",
                "Тоді швидше замовляй велотур!",
            ],
            price: 555,
            currency: "грн."
        },
        island: {
            image: "img/to-islands.png",
            imageSc: "img/orange-znack.jpg",
            altt: "znak",
            alt: "island-icon",
            topTitleSec: "На острови!",
            price: 1559,
            currency: "грн.",
            zamow: "замовити",
            description: [
                "Обираючи цю подорож, Ви самостійно",
                "робите її незабутнбою та не схожою на будь-які інші."
            ]
        },
        serfing: {
            image: "img/surfing.png",
            imageSc: "img/orange-znack.jpg",
            altt: "znak",
            alt: "serfing-icon",
            topTitleSec: "Катання на сьорфінгу",
            price: 999,
            currency: "грн.",
            zamow: "замовити",
            description: [
                "Обираючи цю подорож, Ви самостійно",
                "робите її незабутнбою та не схожою на будь-які інші."
            ]
        }
    }
mixin cards (oneCardSecond)
    figure.card-secondary
        figcaption.fig
            .best-offer
            img(id="dontP")(src=oneCardSecond.image, alt=oneCardSecond.alt)
            p.topTitleSec #{oneCardSecond.topTitleSec}
            p
                p.styu #{oneCardSecond.description}
                .flexX
                    .ssr
                        b.price #{oneCardSecond.price}
                        b.currency #{oneCardSecond.currency}
                    .flex
                        p.yello-Style(id="yello") #{oneCardSecond.zamow}
                        img(id="dontPw")(src=oneCardSecond.imageSc, alt=oneCardSecond.altt)